# Default ignores
Binaries
DerivedDataCache
Intermediate
Saved
Platforms
.vscode
.vs
.vsconfig
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.code-workspace

# Unreal Engine plugins I don't want people who clone this repo to need
Plugins/Developer/RiderLink

# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Voxels.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml